@page "/votes/create"
@using ProportionalVotingApp.Models.DTOs
@using ProportionalVotingApp.Models.Services

@inject IVotingRepository repository
@inject NavigationManager navigator

<PageTitle>Create Vote</PageTitle>

<h3>VoteDTO</h3>

<EditForm OnValidSubmit="@HandleValidSubmit" Model="@vote">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <_VoteName vote="@vote" Disabled="false"></_VoteName>
        <_VoteCreator vote="@vote" Disabled="false"></_VoteCreator>

        <div class="form-group">
        <VoteOptions CanAddOptions=true Options="vote.Options" Context="voteOption">
            <VoteOptionTemplate>
                <div>
                 <button value="@voteOption.Id" type="button" class="form-control">@voteOption.Value</button>
                </div>
            </VoteOptionTemplate>
        </VoteOptions>
        </div>

        <button type="submit" class="btn-primary">Create</button>
    </div>
</EditForm>
@code {
    VoteDTO vote = new VoteDTO();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            var id = await repository.AddVoteAsync(vote);

            if (id > 0)
            {
                navigator.NavigateTo("votes");
            }
            else
            {
                throw new Exception("Could not create vote but unknown");
            }
        }
        catch (Exception ex)
        {
            throw;
        }
    }
}