@page "/votes/create"
@using ProportionalVotingApp.Models.DTOs
@using ProportionalVotingApp.Models.Services

@inject IVotingRepository repository
@inject NavigationManager navigator

<PageTitle>Create Vote</PageTitle>

<h3>VoteDTO</h3>

<EditForm OnValidSubmit="@HandleValidSubmit" Model="@vote">
    <DataAnnotationsValidator />
    <ValidationSummary />
<div>
    <div class=input-group>
        <label for="creator">Creator: </label>
        <input id="creator" @bind-value="vote.Creator"/>
    </div>

    <div class=input-group>
        <label for="options">Options: </label>
        <select>
        @for(var x = 0; x < vote.Options.Count; x++)
            {
                <option value="@x">@vote.Options[x]</option>
            }
        </select>
       </div>

       <AddVoteOption OnOptionAdded="@OptionAdded" />

    <button type="submit" class="btn-primary">Create</button>
</div>
</EditForm>
@code {
    VoteDTO vote = new VoteDTO();

    string optionToAdd = "";


    private async Task HandleValidSubmit()
    {
        try
        {
            var id = await repository.AddVoteAsync(vote);

            if(id > 0)
            {
                navigator.NavigateTo("votes");
            }
            else
            {
                throw new Exception("Could not create vote but unknown");
            }
        }
        catch(Exception ex)
        {
            throw;
        }
    }

    private void OptionAdded(string option)
    {
        vote.AddOption(option);
    }

}